@using xpos341.datamodels

@model TblCategory

@{
	ViewData["Title"] = "Delete Category";
}

<div class="card">
	<div class="card-body">

		<div class="h4 mb-4">@ViewData["Title"]</div>

		<form asp-action="SureDelete" method="post" id="form_delete">

			<input type="hidden" id="Id" name="Id" value="@Model.Id">

			<h3>Are you sure to delete this data @Model.NameCategory ?</h3>


			<div class="modal-footer">
					<button type="submit" class="btn btn-danger rounded-pill">Yes</button>
					<a class="btn btn-light rounded-pill" asp-controller="Category" asp-action="Index">No</a>
			</div>
		</form>

	</div>
</div>


<script>

	$("#form_delete").validate({
		submitHandler: function (form) {
			// var dataForm = $(form).serialize()

			var id = $("#Id").val()

			$.ajax({
				url: "/Category/SureDelete",
				type: "post",
				// method:"get", // sama saja
				data: { id: id },
				dataType: "json",
				success: function (response) {
					var data = response.dataResponse

					if (data.success) {
						$("#my_modal").modal("hide")
						toastr.success(
							data.message,
							'',
							toastr.options = {
								"closeButton": true,
								"debug": false,
								"newestOnTop": false,
								"progressBar": false,
								"positionClass": "toast-top-center",
								"preventDuplicates": false,
								"onclick": null,
								"showDuration": "300",
								"hideDuration": "1000",
								"timeOut": "1000",
								"extendedTimeOut": "1000",
								"showEasing": "swing",
								"hideEasing": "linear",
								"showMethod": "fadeIn",
								"hideMethod": "fadeOut",
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else {
						toastr.errorclass(data.message)
					}
				}
			})
		}
	})

</script>


