@using xpos341.datamodels

@model TblCategory

@{
	ViewData["Title"] = "Edit Category";
}

<div class="card">
	<div class="card-body">

		<div class="h4 mb-4">@ViewData["Title"]</div>

		<form asp-action="Edit" method="post" id="form_input">

			<input type="hidden" id="Id" name="Id" value="@Model.Id">

			<div class="mb-3 row">
				<label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control rounded-pill" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
					<span id="validate_NameCategory" class="text-danger"></span>
				</div>
			</div>
			<div class="mb-3 row">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control rounded-pill" id="Description" name="Description" value="@Model.Description">
				</div>
			</div>


			<div class="mb-4 row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary rounded-pill">Submit</button>
					<a class="btn btn-light rounded-pill" asp-controller="Category" asp-action="Index">Back to List</a>
				</div>
			</div>
		</form>

	</div>
</div>


<script>

	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameCategory: {
				required: true,
				minlength: 3,
			}
		},
		messages: {
			NameCategory: {
				required: "Please fill Name Category",
				minlength: "The name must consist of al least 3 characters",
			}
		},
		submitHandler: function (form) {
			// debugger
			console.log("masuk submit handler")
			var dataForm = $(form).serialize()

			var nameCategory = $("#NameCategory").val()
			var id = $("#Id").val()

			$.ajax({
				url: "/Category/CheckNameIsExist",
				type: "get",
				// method:"get", // sama saja
				data: { nameCategory: nameCategory, id: id },
				dataType: "json",
				success: function (response) {
					if (response) {
						console.log("masuk pak eko")
						console.info("masuk pak eko")
						$("#validate_NameCategory").text("Name Category is already exists")
						return true
					}
					else {
						console.log("masuk else")
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})

	function fungsiSubmit(dataParam) {
		$.ajax({
			url: '/Category/Edit',
			type: "post",
			data: dataParam,
			dataType: "json",
			success: function (response) {
				var data = response.dataResponse

				if (data.success) {
					$("#my_modal").modal("hide")
					// alert("Success")
					toastr.success(
						data.message,
						'',
						toastr.options = {
							"closeButton": true,
							"debug": false,
							"newestOnTop": false,
							"progressBar": false,
							"positionClass": "toast-top-center",
							"preventDuplicates": false,
							"onclick": null,
							"showDuration": "300",
							"hideDuration": "1000",
							"timeOut": "1000",
							"extendedTimeOut": "1000",
							"showEasing": "swing",
							"hideEasing": "linear",
							"showMethod": "fadeIn",
							"hideMethod": "fadeOut",
							onHidden: function () {
								window.location.reload()
							}
						}
						// {
						// 	timeOut:500,
						// 	fadeOut:500,
						// 	onHidden: function() {
						// 		window.location.reload()
						// 	}
						// }
					)
				}
				else {
					toastr.errorClass(data.message)
				}
			}
		})
	}

</script>

