
@{
}

<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">Search Transaction</h3>

	</div>

	<form asp-action="Catalog">

		<div class="card-body">
			<div class="form-group">
				<label for="NameProduct">Name Product</label>
				<input type="text" class="form-control rounded-pill" id="NameProduct" name="NameProduct" placeholder="Name Product" />
			</div>

			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label for="MinAmount">Min Amount</label>
						<input type="number" class="form-control rounded-pill" id="MinAmount" name="MinAmount" placeholder="0" />
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label for="MaxAmount">Max Amount</label>
						<input type="number" class="form-control rounded-pill" id="MaxAmount" name="MaxAmount" placeholder="0" />
					</div>
				</div>
			</div>
		</div>

		<div class="card-footer">
			<button type="submit" class="btn btn-primary btn-rounded float-right">Search</button>
		</div>

	</form>


</div>

